<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .box {
        border: 10px solid coral;
        height: 200px;
        width: 200px;
        overflow: hidden auto;
      }
    </style>
  </head>
  <body>
    <div class="box">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
      perferendis nulla commodi ipsam, iste sit nesciunt itaque deleniti
      molestias. Optio dolorum cumque eveniet dignissimos officiis illum
      provident recusandae. Veniam magni quas dolor maiores ipsam! Quisquam
      quaerat laudantium cumque adipisci odio sequi, labore corrupti voluptas?
      Quae laboriosam placeat ipsa dignissimos animi?
    </div>
  </body>
</html>
